
/* Colors
 if you're adding new color here please add variable to color array in file colors.scss
 */
$scarlet: #FF3600;
$black: #000000;
$mine-shaft: #212121;
$ebony: #110a1a;
$white: #ffffff;
$dark-grey: #333333;
$middle-grey: #cccccc;
$light-grey: #f1f1f1;
$totem-pole: #992100;
$nepal: #8aaabe;
$green-haze: #0aa656;
$california: #ff9f0a;
